<%= form_tag("/apply/create", {multipart: true}) do %>

<div style="width:100%; text-align:center;">
    <div class="button-area">
        <input type="submit" class="btn btn-success btn-sm" value="アップロード">
    </div>
</div>
<% end %>